<template>
  <div class="chat-container">
    <message-controls
      :message-id="selectedMessageId"
      v-if="selectedMessageId"
      @delete-message="deleteMessage"
    />

    <router-link class="header" to="/">
      <chat-list-icon
        v-if="user"
        :chat="user"
        class="participant"
        :is-typing="user.is_typing"
      />
    </router-link>
    
    <div class="messages" ref="messages">
      <single-message
        v-for="message in messages"
        :key="message.id"
        :message="message"
        @show-controls="showControlsFor(message.id)"
        :highlighted="message.id === selectedMessageId"
      />
    </div>
    
    <new-message-box class="new-message-box" />
  </div>
</template>

<script>
require('dotenv').config()

import axios from 'axios'
import gql from 'graphql-tag'

import ChatListIcon from '@/components/ChatListIcon.vue'
import SingleMessage from '@/components/SingleMessage.vue'
import NewMessageBox from '@/components/NewMessageBox.vue'

import MessageControls from '@/components/MessageControls.vue'

export default {
  name: 'ChatPage',
  components: {
    ChatListIcon,
    SingleMessage,
    NewMessageBox,
    MessageControls,
  },
  data () {
    return {
      selectedMessageId: null,
    }
  },
  methods: {
    updateScroll () {
      this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight
    },
    showControlsFor (id) {
      if (id === this.selectedMessageId) {
        this.selectedMessageId = null
      } else {
        this.selectedMessageId = id
      }
    },
    async deleteMessage (messageId) {
      const message = this.messages.find(({ id }) => id === messageId)

      if (message.media_url) {
        try {
          await axios({
            url: `https://backend-8j89cbc4.nhost.io/storage/delete/${message.media_url}`,
            method: 'POST',
            headers: {
              'Authorization': `Bearer ${localStorage.getItem('jwt_token')}`,
            }
          })
        } catch (err) {
          throw new Error(`Couldn't delete media`)
        }
      }

      try {
        await this.$apollo.mutate({
          mutation: gql`mutation DeleteMessage ($messageId: uuid!) {
            update_set_message_as_deleted(
              where: {id: {_eq: $messageId}}, 
              _set: {is_deleted: true}
            ) {
              affected_rows
            }
          }`,
          variables: {
            messageId,
          },
        })
      } catch (err) {
        throw new Error(`Couldn't delete message`)
      }

      this.selectedMessageId = null
    }
  },
  mounted () {
    this.updateScroll()
  },
  apollo: {
    user: {
      query: gql`query GetUserData ($id:uuid!) {
        public_users (where: {id: {_eq: $id}}) {
          id
          display_name
          avatar_url
          is_typing
        }
      }`,
      variables () {
        return {
          id: this.$route.params.id
        }
      },
      update (data) {
        return data.public_users[0]
      },
      subscribeToMore: {
        document: gql`query GetUserData ($id:uuid!) {
          public_users (where: {id: {_eq: $id}}) {
            id
            display_name
            avatar_url
            is_typing
          }
        }`,
        variables () {
          return {
            id: this.$route.params.id
          }
        },
        updateQuery (previousResult, { subscriptionData }) {
          return subscriptionData.data
        },
      },
    },
    messages: {
      query: gql`query GetMessages($id: uuid!) {
        messages: message_list (
          where: {
            _or: [
              {recipient: {id: {_eq: $id}}}
              {sender: {id: {_eq: $id}}}
            ]
          }
          order_by: {sent_at: asc}
        ) {
          id
          text
          media_url
          media_type
          sent_at
          is_read
          is_deleted
          sender {
            id
          }
          recipient {
            id
          }
        }
      }`,
      variables () {
        return {
          id: this.$route.params.id,
        }
      },
      subscribeToMore: {
        document: gql`subscription GetMessages($id: uuid!) {
          messages: message_list (
            where: {
              _or: [
                {recipient: {id: {_eq: $id}}}
                {sender: {id: {_eq: $id}}}
              ]
            }
            order_by: {sent_at: asc}
          ) {
            id
            text
            media_url
            media_type
            sent_at
            is_read
            is_deleted
            sender {
              id
            }
            recipient {
              id
            }
          }
        }`,
        variables () {
          return {
            id: this.$route.params.id,
          }
        },
        updateQuery (previousResult, { subscriptionData }) {
          return subscriptionData.data
        },
      },
    },
  },
  watch: {
    async messages () {
      await this.$nextTick()
      this.updateScroll()
    },
  },
}
</script>

<style scoped>
.chat-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: var(--green-500);
  color: var(--grey-100);
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.participant {
  margin: 0;
}

.messages {
  overflow-y: scroll;
  flex-grow: 1;
}

.new-message-box {
  margin: 0.5rem;
}
</style>
