<template>
  <div>
    <div class="links-container">
      <router-link to="/logout" class="link">
        Log out
      </router-link>
      
      <router-link to="/settings" class="link">
        Settings
      </router-link>
    </div>
    <div class="chats-container">
      <div>
        <router-link
          v-for="chat in chats"
          :key="chat.id"
          :to="`/chat/${chat.id}`"
        >
          <chat-list-icon :chat="chat"/>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import ChatListIcon from '@/components/ChatListIcon.vue'

export default {
  name: 'Chats',
  components: {
    ChatListIcon,
  },
  apollo: {
    chats: {
      query: gql`query GetChats {
        chats: public_users {
          id
          display_name
          avatar_url
        }
      }`,
    },
  },
}
</script>

<style scoped>
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  font-size: 1rem;
  padding: 1rem;
  background: var(--green-500);
}

.link {
  color: var(--grey-100);
}

.chats-container {
  padding: 0 1.5rem;
}
</style>
