<template>
  <form @submit.prevent="login">
    <h1>
      Login
    </h1>
    <div class="inputs">
      <input
        class="input"
        v-model="username"
        placeholder="username"
      />
      <input
        class="input"
        v-model="password"
        placeholder="password"
        type="password"
        @keyup.enter="login"
      />
    </div>
    <button class="button">
      login
    </button>
  </form>
</template>

<script>
import { onLogin } from '../vue-apollo.js'

export default {
  name: 'TheLogin',
  data () {
    return {
      username: '',
      password: '',
    }
  },
  computed: {
    canLogin () {
      return !!(this.username && this.password)
    },
  },
  methods: {
    async login () {
      try {
        await this.$store.dispatch('login', {
          username: this.username,
          password: this.password,
        })

        onLogin(this.$apolloProvider.defaultClient)

        this.$router.push('/')
      } catch (err) {
        this.$router.push('/login')
        console.error(err)
      }
    },
  },
}
</script>

<style scoped>
form {
  padding: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  flex-grow: 1;
  display: block;
  margin: 0.5rem 0;
  padding: .6rem .75rem;
  border: 1px solid #2D3748;
}

.button {
  display: block;
  margin: 1rem 0;
  padding: .6rem .75rem;
  border: 1px solid #2D3748;
  background-color: #CBD5E0;
}
</style>