<template>
  <div>
    Logging out...
  </div>
</template>

<script>
import { onLogout } from '../vue-apollo.js'

export default {
  name: 'TheLogout',
  mounted () {
    try {
      this.$store.dispatch('logout')
      onLogout(this.$apolloProvider.defaultClient)
      this.$router.push('/login')
    } catch (err) {
      console.error(err)
    }
  },
}
</script>
