<template>
  <div class="settings-container">
    <router-link to="/" class="back-link">
      Back
    </router-link>
    <!-- <ul>
      <li>Reset Password</li>
      <li>Change Avatar</li>
    </ul> -->

    <div class="change-avatar-container">
      <input
        v-if="renderFileInput"
        type="file"
        id="fileInput"
        ref="input"
        style="display: none;"
        @change="loadFileLocally"
        accept="image/*"
      >
      <label for="fileInput" class="update-icon">
        <image-icon class="icon" />
      </label>
      <img
        v-if="imageUrl"
        :src="imageUrl"
        class="avatar"
        alt="Current profile picture"
      >

    </div>

    <p class="display-name-container">
      <input
        class="display-name input"
        v-model="newDisplayName"
        placeholder="Enter a username"
      >
    </p>
    
    <button class="update button" @click="updateProfile">
      Update Profile
    </button>
  </div>
</template>

<script>
require('dotenv').config()

import axios from 'axios'
import gql from 'graphql-tag'

import ImageIcon from '@/components/icons/ImageIcon.vue'

export default {
  name: 'TheSettings',
  components: {
    ImageIcon,
  },
  data () {
    return {
      showUpload: false,
      loading: false,

      renderFileInput: true,

      localFileUrl: null,
      imageUrl: null,

      newDisplayName: '',
    }
  },
  methods: {
    loadFileLocally () {
      if (this.$refs.input && this.$refs.input.files[0]) {
        var reader = new FileReader()

        const self = this
        reader.onload = function (e) {
          self.localFileUrl = e.target.result
        }

        reader.readAsDataURL(this.$refs.input.files[0])
      }

      this.showUpload = true
      this.loading = false
    },
    updateProfile () {

    },
  },
  apollo: {
    user: {
      query: gql`query GetUser {
        users {
          display_name
          avatar_url
          email
          created_at
          updated_at
        }
      }`,
      update: ({ users }) => users[0]
    },
  },
  watch: {
    async user (user) {
      this.newDisplayName = user.display_name
      const { data } = await axios.get(`https://backend-8j89cbc4.nhost.io/storage/fn/get-download-url/${user.avatar_url}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('jwt_token')}`,
          Accept: 'application/json',
        },
      })

      this.imageUrl = `https://backend-8j89cbc4.nhost.io/storage/file/${user.avatar_url}?token=${data.token}`
    },
  },
}
</script>

<style scoped>
.settings-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.back-link {
  width: 100%;
  text-align: left;
  display: block;
}

.change-avatar-container {
  width: 50%;
  position: relative;
}

.change-avatar-container > .update-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-icon > .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.avatar {
  width: 100%;
  height: 100%;
}

.display-name-container {
  width: calc(100% - 4rem);
}

.display-name {
  text-align: center;
  width: 100%;
}

.input {
  box-sizing: border-box;
  display: block;
  margin: 0.5rem 0;
  padding: .6rem .75rem;
  border: 1px solid #2D3748;
}

.button {
  display: block;
  margin: 1rem 0;
  padding: .6rem .75rem;
  border: 1px solid #2D3748;
  background-color: #CBD5E0;
}
</style>
