<template>
  <div class="icon">
    <img
      :src="imageUrl"
      :alt="chat.display_name"
      class="avatar"
    >
    <p class="name-block">
      <span class="name">
        {{ chat.display_name }}
      </span>
      <i v-show="isTyping" class="typing-indicator">
        Typing...
      </i>
    </p>
  </div>
</template>

<script>
require('dotenv').config()

import axios from 'axios'

export default {
  name: 'ChatListIcon',
  data () {
    return {
      imageUrl: `https://backend-8j89cbc4.nhost.io/storage/file/avatars/default.svg?token=131ae990-f8ef-4fba-8295-6e1fd4e0f279`
    }
  },
  props: {
    chat: {
      required: true,
      type: Object,
      validator (value) {
        return 'id' in value
          && 'avatar_url' in value
          && 'display_name' in value
      },
    },
    isTyping: {
      required: true,
      type: Boolean,
    },
  },
  async mounted () {
    try {
      const { data } = await axios.get(`https://backend-8j89cbc4.nhost.io/storage/fn/get-download-url/${this.chat.avatar_url}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('jwt_token')}`,
          Accept: 'application/json',
        },
      })

      this.imageUrl = `https://backend-8j89cbc4.nhost.io/storage/file/${this.chat.avatar_url}?token=${data.token}`
    } catch {
      // The image is either forbidden or is failing to load.
    }
  },
}
</script>

<style scoped>
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.avatar {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin: 1rem 1rem 1rem 0;
  border-radius: 50%;
}

.name-block {
  display: block;
  margin: 0;
  padding-bottom: 0.4rem;
}

.name {
  display: block;
  font-size: 1.1rem;
}

.typing-indicator {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
}
</style>
