<template>
  <div class="control-container">
    <!--
    <span>
      Quote
    </span>
    -->
    <span @click="$emit('delete-message', messageId)">
      Delete
    </span>
  </div>
</template>

<script>
export default {
  name: 'TheMessageControls',
  props: {
    messageId: {
      required: true,
      type: String,
    },
  },
}
</script>

<style scoped>
.control-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  height: 4.2rem;
  padding: 1rem;
  box-sizing: border-box;

  background: var(--green-500);
  color: var(--grey-100);

  font-family: 'Equity Caps A';
  text-transform: lowercase;
  font-size: 1rem;
  line-height: 1.5;
}
</style>
 