<template>
  <a
    :href="imageLinkUrl"
    :target="imageLinkUrl === '#' ? '' : '_blank'"
  >
    <img :src="imageUrl">
  </a>
</template>

<script>
require('dotenv').config()

import axios from 'axios'

export default {
  name: 'MessageImage',
  data () {
    return {
      imageLinkUrl: '#',
      imageUrl: 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/wAALCAADAAIBAREA/8QAFAABAAAAAAAAAAAAAAAAAAAAA//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAD8AJ//Z'
    }
  },
  props: {
    path: {
      type: String,
      required: true,
    },
  },
  async mounted () {
    try {
      const { data } = await axios.get(`https://backend-8j89cbc4.nhost.io/storage/fn/get-download-url/${this.path}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('jwt_token')}`,
          Accept: 'application/json',
        },
      })

      this.imageUrl = `https://backend-8j89cbc4.nhost.io/storage/file/${this.path}?token=${data.token}`
      this.imageLinkUrl = this.imageUrl
    } catch {
      // The image is either forbidden or is failing to load.
    }
  },
}
</script>

<style scoped>
img {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
</style>
