<template>
  <a class="download-container" :href="url" target="_blank">
    <div class="icon-container">
      <download-icon class="download-icon" />
    </div>
    <p class="filename">
      {{ filename }}
    </p>
  </a>
</template>

<script>
require('dotenv').config()

import axios from 'axios'

import DownloadIcon from '@/components/icons/DownloadIcon.vue'

export default {
  name: 'MessageDownload',
  data () {
    return {
      url: '#',
    }
  },
  components: {
    DownloadIcon,
  },
  props: {
    path: {
      type: String,
      required: true,
    },
  },
  async mounted () {
    try {
      const { data } = await axios.get(`https://backend-8j89cbc4.nhost.io/storage/fn/get-download-url/${this.path}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('jwt_token')}`,
          Accept: 'application/json',
        },
      })

      this.url = `https://backend-8j89cbc4.nhost.io/storage/file/${this.path}?token=${data.token}`
    } catch {
      // The file is either forbidden or is failing to load.
    }
  },
  computed: {
    filename () {
      const splitPath = this.path.split('/')
      return splitPath[splitPath.length - 1]
    },
  },
}
</script>

<style scoped>
.download-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--grey-300);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.download-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin: .6rem .6rem .6rem 1rem;
}

.filename {
  margin: 1rem 1rem 1rem 0;
  flex-grow: 1;
}
</style>
