<template>
  <form @submit.prevent="sendMessage" class="message-area">
    <upload-media />

    <input
      class="message-box"
      v-if="user && user.enter_to_send"
      v-model="message"
      placeholder="Write a message"
      ref="input"
    >

    <textarea
      class="message-box"
      v-else
      v-model="message"
      placeholder="Write a message"
      rows="1"
      ref="input"
    />

    <button
      :disabled="!message"
      class="send-container-button"
    >
      <send-icon class="send-icon" />
    </button>
  </form>
</template>

<script>
import gql from 'graphql-tag'

import UploadMedia from '@/components/UploadMedia.vue'
import SendIcon from '@/components/icons/SendIcon.vue'

export default {
  name: 'NewMessageBox',
  components: {
    UploadMedia,
    SendIcon,
  },
  data () {
    return {
      message: '',
    }
  },
  apollo: {
    user: {
      // Probably should use `users_by_pk` but this works too
      query: gql`query GetUser {
        users {
          enter_to_send
        }
      }`,
      update: ({ users }) => users[0]
    },
  },
  methods: {
    async sendMessage () {
      try {
        const message = this.message.trim()
        const recipientId = this.$route.params.id

        await this.$apollo.mutate({
          mutation: gql`mutation SendMessage (
            $message: String!
            $recipientId: uuid!
          ) {
            insert_messages (
              objects: {
                recipient_id: $recipientId
                text: $message
              }
            ) {
              affected_rows
            }
          }`,
          variables: {
            message,
            recipientId,
          },
        })
  
        this.message = ''
        this.$refs.input.focus()
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>

<style scoped>
.message-area {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.message-box {
  flex-grow: 1;
  font-family: 'Equity Text A';
  font-size: 1rem;
  border: 1px solid var(--grey-800);
  outline: none;
  box-sizing: border-box;
  padding: auto 0.1rem;
}

.send-container-button {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
}

.send-icon {
  padding: .3rem .6rem;
}
</style>
