<template>
  <div :class="{
    'message-container': true,
    'highlight-container': highlighted,
  }">
    <div
      :class="message.recipient ? 'message sent' : 'message received'"
      @click.stop="showControls"
    >
      <div v-if="message.media_url">
        <component :is="media.component" :path="media.path" />
      </div>
      <p class="message-text-container">
        <span v-if="message.text" class="message-text">
          {{ message.text }}
        </span>

        <i v-if="message.is_deleted && message.recipient">
          You deleted this message
        </i>
        <i v-if="message.is_deleted && message.sender">
          This message was deleted
        </i>
      </p>
      <p class="timestamp">
        <span>
          {{ message.sent_at | date }}
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import MessageImage from '@/components/MessageImage.vue'
import MessageAudio from '@/components/MessageAudio.vue'
import MessageDownload from '@/components/MessageDownload.vue'

export default {
  name: 'MessageList',
  components: {
    MessageImage,
    MessageAudio,
    MessageDownload,
  },
  props: {
    message: {
      type: Object,
      required: true,
      validator (value) {
        return ('recipient' in value || 'sender' in value)
          && 'is_deleted' in value
          && 'sent_at' in value
      },
    },
    highlighted: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    media () {
      const typeList = [
        {
          matcher: /^image\/.+/,
          data: {
            path: this.message.media_url,
            component: 'MessageImage',
          },
        },
        {
          matcher: /^audio\/.+/,
          data: {
            path: this.message.media_url,
            component: 'MessageAudio',
          },
        },
        {
          matcher: /.+/,
          data: {
            path: this.message.media_url,
            component: 'MessageDownload',
          },
        },
      ]

      const type = typeList.find(type => this.message.media_type && this.message.media_type.match(type.matcher))
      return type ? type.data : null
    },
  },
  methods: {
    showControls () {
      if (!this.message.is_deleted && this.message.recipient) {
        this.$emit('show-controls')
      }
    },
  },
  filters: {
    date (value) {
      const date = new Date(value)
      return date.getHours().toString().padStart(2, '0') + ':' + date.getMinutes().toString().padStart(2, '0')
    },
  },
}
</script>

<style scoped>
.message-container {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem;
}

.highlight-container {
  background: var(--orange-100);
}

.message {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.sent {
  text-align: right;
  background: var(--blue-400);
  align-self: flex-end;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.received {
  text-align: left;
  background: var(--blue-200);
  align-self: flex-start;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.message-text-container {
  margin: .5rem 1rem;
}

.message-text {
  white-space: pre-wrap;
}

.timestamp {
  margin: 0 1rem 0.2rem 1rem;
  font-size: 0.7rem;
}
</style>
