<template>
  <div>
    <div v-if="loading" class="spinner-container">
      <svg
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        class="spinner"
      >
        <circle cx="50" cy="50" r="45"/>
      </svg>
    </div>

    <div v-if="showUpload" class="upload-overlay">
      <div class="back-button-container">
        <button @click="clearInput()">
          Back
        </button>
      </div>
      <img
        v-if="localFileUrl"
        :src="localFileUrl"
        class="local-image"
      >
      <p v-else>
        {{ $refs.input.files[0].name }}
      </p>
      <div class="text-container">
        <input
          v-model="message"
          class="text-input"
          placeholder="Enter a message"
        >
        <button @click="sendMessage" class="send-button">
          Send
        </button>
      </div>
    </div>

    <div>
      <input
        v-if="renderFileInput"
        type="file"
        id="fileInput"
        ref="input"
        style="display: none;"
        @change="loadFileLocally"
      >
      <label for="fileInput" class="attach-clip">
        <attach-icon />
      </label>
    </div>
  </div>
</template>

<script>
require('dotenv').config()

import gql from 'graphql-tag'
import axios from 'axios'

import AttachIcon from '@/components/icons/AttachIcon.vue'

export default {
  name: 'UploadMedia',
  components: {
    AttachIcon,
  },
  data () {
    return {
      showUpload: false,
      loading: false,

      renderFileInput: true,

      localFileUrl: null,
      message: '',
    }
  },
  methods: {
    loadFileLocally () {
      this.loading = true

      if (this.$refs.input && this.$refs.input.files[0]) {
        if (this.$refs.input.files[0].type.match(/^image\/.+/)) {
          var reader = new FileReader()

          const self = this
          reader.onload = function (e) {
            self.localFileUrl = e.target.result
          }

          reader.readAsDataURL(this.$refs.input.files[0])
        }

        this.showUpload = true
        this.loading = false
      }
    },
    loadFileName () {
      if (this.$refs.input.value) {
        const name = this.$refs.input.files[0].name
        return `${Date.now()} - ${name}`.replace(/[/\\]/g, '_')
      } else {
        return null
      }
    },

    async uploadFile () {
      this.loading = true
      const fileName = this.loadFileName()

      try {
        const path = `/${this.userId}+${this.$route.params.id}/${fileName}`

        const formData = new FormData()
        formData.append('file', this.$refs.input.files[0])

        const { data } = await axios.post(
          `https://backend-8j89cbc4.nhost.io/storage/upload`, 
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
              'Authorization': `Bearer ${localStorage.getItem('jwt_token')}`,
              'X-Path': path,
            },
          },
        )

        this.loading = false
        return data.key
      } catch (err) {
        this.loading = false
        console.error(err)
        return null
      }
    },
    async sendMessage () {
      const mediaUrl = await this.uploadFile()
      const mediaType = this.$refs.input.files[0].type

      if (mediaUrl) {
        return await this.sendFileMessage(mediaUrl, mediaType, this.message)
      } else {
        return null
      }
    },

    async sendFileMessage (mediaUrl, mediaType, message) {
      const recipientId = this.$route.params.id
      try {
        await this.$apollo.mutate({
          mutation: gql`mutation UploadMediaMessage (
            $mediaUrl: String!
            $mediaType: String!
            $message: String
            $recipientId: uuid!
            ) {
            insert_messages (
              objects: {
                media_url: $mediaUrl
                media_type: $mediaType
                text: $message
                recipient_id: $recipientId
              }
            ) {
              affected_rows
            }
          }`,
          variables: {
            mediaUrl,
            mediaType,
            message,
            recipientId,
          },
        })

        this.clearInput()
      } catch (err) {
        console.error(err)
      }
    },

    async clearInput () {
      this.loading = false
      this.showUpload = false
      this.localFileUrl = false
      this.renderFileInput = false
      await this.$nextTick()
      this.renderFileInput = true
      this.fileName = null
    },
  },
  computed: {
    userId () {
      const jwt = localStorage.getItem('jwt_token')
      if (jwt) {
        const data = JSON.parse(atob(jwt.split('.')[1]))
        return data['https://hasura.io/jwt/claims']['x-hasura-user-id']
      } else {
        return null
      }
    },
  },
}
</script>

<style scoped>
.attach-clip {
  padding: .6rem;
}

.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: #FFFFFF90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 20%;
  fill: transparent;
  stroke: var(--grey-800);
  stroke-width: 10;
}

.spinner circle {
  transform-origin: 50% 50%;
  stroke-dasharray: 157;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

circle {
  animation: 1.4s infinite linear spin;
}

.upload-overlay {
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.upload-overlay > .back-button-container {
  width: 100%;
  text-align: left;
  margin: 1rem 0;
}

.upload-overlay > .local-image {
  max-width: 100%;
  height: 80vh;
  max-height: 80vh;
  padding: 1rem 0;
  box-sizing: border-box;
}

.upload-overlay > .text-container {
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  display: flex;
}

.upload-overlay > .text-container > .text-input {
  flex-grow: 1;
}

.upload-overlay > .text-container > .send-button {
  margin-left: 1rem;
}
</style>
