<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import '@/assets/styles/main.scss'

export default {
  name: 'Chat',
  mounted () {
    if (localStorage.getItem('jwt_token')) {
      this.$store.dispatch('loginWithRefresh')
    }
  },
}
</script>

<style scoped>
#app {
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
</style>
