@font-face {
  font-family: 'Equity Caps A';
  src: url('../fonts/EquityCapsA.eot');
  src: url('../fonts/EquityCapsA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EquityCapsA.woff2') format('woff2'),
    url('../fonts/EquityCapsA.woff') format('woff'),
    url('../fonts/EquityCapsA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Equity Text A';
  src: url('../fonts/EquityTextA.eot');
  src: url('../fonts/EquityTextA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EquityTextA.woff2') format('woff2'),
    url('../fonts/EquityTextA.woff') format('woff'),
    url('../fonts/EquityTextA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Equity Text A';
  src: url('../fonts/EquityTextA-Italic.eot');
  src: url('../fonts/EquityTextA-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EquityTextA-Italic.woff2') format('woff2'),
    url('../fonts/EquityTextA-Italic.woff') format('woff'),
    url('../fonts/EquityTextA-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Equity Text A';
  src: url('../fonts/EquityTextA-BoldItalic.eot');
  src: url('../fonts/EquityTextA-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EquityTextA-BoldItalic.woff2') format('woff2'),
    url('../fonts/EquityTextA-BoldItalic.woff') format('woff'),
    url('../fonts/EquityTextA-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Equity Text A';
  src: url('../fonts/EquityTextA-Bold.eot');
  src: url('../fonts/EquityTextA-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EquityTextA-Bold.woff2') format('woff2'),
    url('../fonts/EquityTextA-Bold.woff') format('woff'),
    url('../fonts/EquityTextA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Equity Caps A';
  src: url('../fonts/EquityCapsA-Bold.eot');
  src: url('../fonts/EquityCapsA-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EquityCapsA-Bold.woff2') format('woff2'),
    url('../fonts/EquityCapsA-Bold.woff') format('woff'),
    url('../fonts/EquityCapsA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Sectra Fine';
  src: url('../fonts/GTSectraFine-Bold.eot');
  src: url('../fonts/GTSectraFine-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTSectraFine-Bold.woff2') format('woff2'),
    url('../fonts/GTSectraFine-Bold.woff') format('woff'),
    url('../fonts/GTSectraFine-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-LightItalic.eot');
  src: url('../fonts/GTEestiProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-LightItalic.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-LightItalic.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GT Sectra Fine';
  src: url('../fonts/GTSectraFine-BoldItalic.eot');
  src: url('../fonts/GTSectraFine-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTSectraFine-BoldItalic.woff2') format('woff2'),
    url('../fonts/GTSectraFine-BoldItalic.woff') format('woff'),
    url('../fonts/GTSectraFine-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-RegularItalic.eot');
  src: url('../fonts/GTEestiProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-RegularItalic.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-RegularItalic.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-Light.eot');
  src: url('../fonts/GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-Light.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-Light.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-Regular.eot');
  src: url('../fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-Regular.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-UltraBoldItalic.eot');
  src: url('../fonts/GTEestiProDisplay-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-UltraBoldItalic.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-UltraBoldItalic.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-UltraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-Medium.eot');
  src: url('../fonts/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-Medium.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-UltraBold.eot');
  src: url('../fonts/GTEestiProDisplay-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-UltraBold.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-UltraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-BoldItalic.eot');
  src: url('../fonts/GTEestiProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-BoldItalic.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-Bold.eot');
  src: url('../fonts/GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-Bold.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-MediumItalic.eot');
  src: url('../fonts/GTEestiProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-MediumItalic.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}


