html {
  --hljs-keyword: #7195AE;
  --hljs-meta: #989691;
  --hljs-string: #64945F;
  --hljs-subst: #C45438;
  --hljs-regexp: #A8442B;
  --hljs-class: #C45438;
  --hljs-class-keyword: #7195AE;
  --hljs-title: #3D6E90;
  --hljs-attr: #64945F;
  --hljs-literal: #A8442B;
  --hljs-number: #A8442B;
  --hljs-function: #e6e1d9;
  --hljs-title: #3D6E90;
  --hljs-params: #EEC643;
  --hljs-tag-name: #C45438;
  --hljs-tag: #C45438;
  --hljs-built_in: #C45438;
  --hljs-comment: #989691;
  --hljs-selector-tag: #C45438;
  --hljs-selector-class: #3D6E90;
  --hljs-selector-id: #A8442B;
  --hljs-selector-pseudo: #EEC643;
  --hljs-built_in: #3D6E90;
  --hljs-attribute: #C45438;
}

.hljs-keyword {
  color: var(--hljs-keyword);
}

.hljs-string {
  color: var(--hljs-string);
}

.hljs-string.hljs-subst {
  color: var(--hljs-subst);
}

.hljs-regexp {
  color: var(--hljs-regexp);
}

.hljs-class {
  color: var(--hljs-class);
}

.hljs-class.hljs-keyword {
  color: var(--hljs-class-keyword);
  font-style: italic;
}

.hljs-title {
  color: var(--hljs-title);
}

.hljs-attr {
  color: var(--hljs-attr);
}

.hljs-literal {
  color: var(--hljs-literal);
}

.hljs-number {
  color: var(--hljs-number);
}

.hljs-keyword {
  color: var(--hljs-keyword);
}

.hljs-function {
  color: var(--hljs-function);
  font-style: italic;
}

.hljs-function.hljs-keyword {
  color: var(--hljs-keyword);
}

.hljs-function.hljs-title {
  color: var(--hljs-title);
  font-style: normal;
}

.hljs-function.hljs-params {
  color: var(--hljs-params);
  font-style: normal;
}

.xml.hljs-tag {
  color: var(--hljs-tag);
}

.xml.hljs-tag.hljs-name {
  color: var(--hljs-tag-name);
}

.hljs-built_in {
  color: var(--hljs-built_in);
}

.hljs-comment {
  color: var(--hljs-comment);
  font-style: italic;
}

.hljs-selector-tag {
  color: var(--hljs-selector-tag);
}

.hljs-selector-class {
  color: var(--hljs-selector-class);
}

.hljs-selector-id {
  color: var(--hljs-selector-id);
}

.hljs-selector-pseudo {
  color: var(--hljs-selector-pseudo);
}

.hljs-built_in {
  color: var(--hljs-built_in);
}

.hljs-attribute {
  color: var(--hljs-attribute);
}
