@import './fonts';
@import './highlight';

html {
  font-size: 22px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;

  // @supports (-webkit-appearance:none) {
  //   max-height: calc(100vh - 56px);
  // }

  --white: #fcf7ef;
  --grey-100: #e6e1d9;
  --grey-200: #ccc8c1;
  --grey-300: #b2afa9;
  --grey-400: #989691;
  --grey-500: #7e7d79;
  --grey-600: #646461;
  --grey-700: #4a4b49;
  --grey-800: #303231;
  --grey-900: #161919;

  --orange-100: #F9EDEA;
  --orange-200: #EFD3CB;
  --orange-300: #E5B8AC;
  --orange-400: #D2836E;
  --orange-500: #BF4E30;
  --orange-600: #AC462B;
  --orange-700: #732F1D;
  --orange-800: #562316;
  --orange-900: #39170E;

  --green-100: #EAF3EF;
  --green-200: #CBE1D6;
  --green-300: #ACCEBD;
  --green-400: #6DAA8C;
  --green-500: #2F855A;
  --green-600: #2A7851;
  --green-700: #1C5036;
  --green-800: #153C29;
  --green-900: #0E281B;
  
  --blue-100: #EDEFF3;
  --blue-200: #D2D7E1;
  --blue-300: #B7BFCE;
  --blue-400: #8290AA;
  --blue-500: #4C6085;
  --blue-600: #445678;
  --blue-700: #2E3A50;
  --blue-800: #222B3C;
  --blue-900: #171D28;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
}

h1,
h2,
h3 {
  font-family: 'Equity Text A';
  font-weight: bold;
  margin: 2rem 0;
  color: var(--grey-900);
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

h3 {
  font-size: 1rem;
  margin: 1rem 0;
}

p {
  line-height: 1.5;
}

button {
  font-size: 1rem;
}

li {
  margin: .5rem 0;
}

li > * {
  margin: 0;
}

a,
a:active,
a:visited,
a:hover,
a:disabled,
button,
button:active,
button:hover,
button:disabled {
  color: var(--grey-900);
  text-decoration: none;
  font-family: 'Equity Caps A';
  text-transform: lowercase;
  cursor: pointer;
}

input,
input:active,
input:hover,
input:disabled {
  font-family: 'Equity Text A';
  font-size: 1rem;
}

b,
strong,
th {
  font-family: 'Equity Text A';
  font-weight: bold;
}

i,
em {
  font-family: 'Equity Text A';
  font-style: italic;
}

blockquote {
  border-top: 1px solid var(--grey-200);
  border-bottom: 1px solid var(--grey-200);
  margin: 2rem 0;
  padding: 1rem;
}

blockquote *:first-child {
  margin-top: 0;
  padding-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

code {
  background-color: var(--blue-200);
  border-radius: 0.2rem;
  padding: 0 0.1rem;
}

pre {
  background-color: var(--blue-700);
  border-radius: 0.2rem;
  padding: 0.3rem 0.3rem;
  color: var(--grey-100);
}

pre > code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

hr {
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top: 1px solid var(--grey-200);
}
